<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>File Upload</title>
  <!--Favicon-->
  <link rel="icon" href="data:">
  <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" />
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" rel="stylesheet" />
</head>

<body>
  <div class="wrapper">
    <header>Upload / Download Files</header>
    <form action="/" method="post" enctype=multipart/form-data>
      <input name="file" type="file" class="file-input" hidden multiple />
      <i class="fas fa-cloud-upload-alt"></i>
      <p>Browse File to Upload</p>
    </form>
    <section class="progress-area"></section>
    <section class="uploaded-area"></section>
    <section class="download-area">
      <div class="center-div">
        <button id="download-button" class="button-style">Download</button>
        <br>
        <button onclick="fileDownload()" class="button-style">Download 2</button>
        <br>
        <p id="downloading-file">0/0 MB Downloaded</p>
      </div>
      <a href="/filedownload" download>DOWNLOAD</a>
      <a href="/filedownload">DOWNLOAD 2</a>
    </section>
  </div>
  <script src="{{url_for('static', filename='js/uploading.js')}}"></script>
  <script src="{{url_for('static', filename='js/downloading.js')}}"></script>
</body>

</html>